body {
  height: 100%vh;
  width: 100%vw;
  /* width:1000px;
  height: 1000px; */
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

textarea{
  border-radius: 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  /* margin: 1em 0; */
  padding: 0;
}

.challenge-close{
  opacity: 0.8;
  cursor: pointer;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 7px;
  margin-right: 7px;
}

.puzzle-builder-close{
  opacity: 0.8;
  cursor: pointer;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 7px;
  margin-right: 7px;
}

.puzzle-builder-done{
  opacity: 0.8;
  cursor: pointer;
  width: 16px;
  /* height: 16px; */
  float: left;
  margin-top: 7px;
  margin-left: 7px;
}

.tab-container  hr{
  height: 1px;
  width:90px;
  margin: 0;
  background: tomato;
  border: none;
  transition: .2s ease-in-out;
}

.tab-container{
  width: 25%;
    height: 100%;
    margin: 0;
    float: left;
}


li a {
  
  display: inline-block;
  padding: .15rem;
  margin: 0;
  text-decoration: none;
  color: #333;
}

canvas {
  /* width: 80% !important; */
  /* height: auto;
  margin: 0 auto; */
  width: 1024px;
  height: 576px;
  /* padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px; */
}

/* #rete {
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto;
} */
#PuzzleEditorArea {
  width: 600px;
  max-height: 800px;
  background: #bed7e9;
}
.tab {
  /* background-color: rgb(157, 242, 245); */
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 1rem;
  width: 15%;
}
.tab:hover {
  background-color: #fcfcfc;
}

#scene-editor {
  background-color: #98b6ca;
}
#puzzle-editor {
  background-color: #ffffff;
  
}

.puzzle-noode-button {
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-width: thick;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 3px 10px 3px 10px;
  background-color: #fff;
  border-color: rgb(255, 255, 255);
  color: #666;
  font-weight: 600;
}

.grid-container {
  display: grid;
  /* grid-gap: 2px; */
  grid-template-columns: [col] 200px [col] 120px [col] auto [col] 200px [col] 400px;
  grid-template-rows: [row] 0px [row] 60px [row] 660px [row] auto;

  width: 100vw;
  height: 100vh;
}

.grid-item-navbar {

    grid-column: 4/ 5;
    grid-row: 2;
    /* background: #233641; */
}

.grid-item-top-tab {
  grid-column: 2 / 6;
  grid-row: 2;
  /* background: #a2b6c6; */
  border-bottom: 3px solid #EDEDED;
    width: 100%;
}
.grid-item-hierarchy-title{
  grid-column: 1/1;
  grid-row: 2 /3;
  /* background: #233641; */
  border-right: 3px solid #EDEDED;
    height: 100%;
}

.grid-item-hierarchy {
  grid-column: 1/1;
  grid-row: 3 /5;
  /* background: #233641; */
  border-right: 3px solid #EDEDED;
    height: 100%;
}

.grid-item-scene-editor {
  grid-column: 2/5;
    grid-row: 4/3;
    background: white;
    /* max-height: 90% !important; */
    background: #EDEDED;
}

.grid-item-puzzle-editor {
  grid-column: 2/5;
  grid-row: 3/5;
  background: white;
  /* max-height: 90% !important; */
  background: #EDEDED;
}

#gallery {
  grid-column: 2/5;
  grid-row: 4/5;
  /* background: #a2b6c6; */
}

.grid-item-gallery-list {
  border-right: 2px solid #ededed;
  float: left;
  height: 100%;
}
.grid-item-gallery-assets {
  /* grid-column: 4/5;
    grid-row: 4/4;
    background: rgb(186, 206, 223);
    float: right; */
  /* background: rgb(186, 206, 223); */
  float: right;
  width: 80%;
  height: 100%;
  top: 0;
}

.grid-item-content-editable {
  grid-column: 5/6;
  grid-row: 3/4;
  margin-top: 58px;
  
}

.grid-item-puzzle-library {
  grid-column: 5/6;
  grid-row: 3/5;
  background: #ededed;
}

.title-block {
  display: grid;
  /* padding-top: 15px;
  padding-bottom: 10px; */
  /* border-bottom: 1px solid #b5b5b5; */
}

.goal-block {
  display: grid;

  /* border-bottom: 1px solid #b5b5b5; */
}
.how-block {
  display: grid;

  /* border-bottom: 1px solid #b5b5b5; */
}

.challenge-block {
  display: grid;

  /* border-bottom: 1px solid #b5b5b5; */
}
.finish-block {
  display: grid;
}

#rete {
  min-height: 500px;
  min-width: 500px;
}

.tutorial-delete {
  opacity: 0.5;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.tutorial-picture {
  opacity: 0.5;
  margin: -5px;
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}

.interaction-box select {
  border-style: none;
  border-radius: 20px;
  padding: 3px;
  margin-right: 3px;
  margin-left: 3px;
}

.interaction-box input {
  border-style: none;
  border-radius: 20px;
  padding: 3px;
  margin-right: 3px;
  margin-left: 3px;
}

.interaction-box input:focus {
  outline: none;
}
.modal-body select {
  border-style: none;
  border-radius: 20px;
  padding: 3px;
  margin-right: 3px;
  margin-left: 3px;
  background-color: #eee;
}

.modal-body input {
  border-style: none;
  border-radius: 20px;
  background-color: #eee;
  padding-left: 10px;
}

.modal-body input:focus {
  outline: none;
}

#foo {
  display: inline-flex;
  margin: 0 !important;
  padding: 0;
  
  width: 100%;
  height: 100%;

  overflow: hidden !important;
}
#run-buttons button {
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  font-size: 1.2em;
  color: #fff;
}
#run-buttons button:hover {
  background-color: #fff;
  color: #666;
}
#run-buttons button:focus {
  outline: none;
}
#run-modal-body {
  width: 800px;
  height: 450px;
}
select:focus {
  outline: none;
}
button {
  border: none;
  background: none;
}

table {
  text-align: left !important;
  background: #fff !important;
  width: 1200px !important;
  margin-left: 1%;
  margin-top: 1%;
}

td,
th {
  max-width: 100px !important;
}

i {
  border: solid black;
  opacity: 0.5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 7px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.switch {
  position: relative;

  float: right;

  width: 30px;
  height: 17px;
}
.float-right{
  float: right;
}
.property-info .switch {
  float: none !important;
  margin-left: 6px;
  margin-bottom: -3px;
}
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #32cd32;
}

input:focus + .slider {
  box-shadow: 0 0 1px #32cd32;
}

input:hover {
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.editInPlace {
  margin-left: 10px;
  text-align: left;
  color: #aaa;
  font-weight: 700;
}

.dropdown {
  /* float: right; */
  position: relative;
  display: inline-block;
}

.puzzle-builder-block {
  display: block;
  background: #add;
  max-width: 400px;
  min-height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border-width: thin;
  margin: 2px;
}

.progressive-builder-title {
  text-align: left;
    line-height: 1em;
    margin: 10px;
    font-weight: 600;
    /* letter-spacing: 1px; */
    font-size: 15px;
    width: 130px;
    float: left;
}

.progressive-builder-heading {
  text-align: center;
    border: #666;
    border-radius: 8px;
    border-width: 1px;
    /* padding: 0.5em 2em 1em 2em; */
    font-size: 12px;
    font-weight: 600;
    /* line-height: 1; */
    text-align: center;
    /* white-space: nowrap; */
    /* vertical-align: baseline; */
    border-radius: 0.5rem;
    cursor: pointer;
    /* min-width: 200px; */
    /* text-align: left !important; */
    /* background-color: #ef5379; */
    color: #524c4c;
    font-size: 24px;
    /* margin: 2px; */
    /* width: 100px; */
}

.add-puzzle-button{
  text-align: center;
  white-space: nowrap;
  /* vertical-align: baseline; */
  border-radius: 0.5rem;
  cursor: pointer;
  max-width: 120px;
  height: 40px;
  font-size: 15px;
  /* min-width: 200px; */
  /* text-align: left !important; */
  /* background-color: #ef5379; */
  color: #524c4c;
  margin: 2px;
  /* width: 100px; */
}

.add-puzzle-button {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 4px 10px 4px 10px;
  background-color: #fff;
  border-color: #666;
  /* color: #666; */
  /* font-weight: 600; */
  /* font-size: 1em !important; */
  font-weight: 600;
  /* letter-spacing: 1px; */
  font-size: 15px;
}
.reset-puzzle-button {
  float: right;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: -30px;
  padding: 4px 10px 4px 10px;
  background-color: #fff;
  border-color: #666;
  /* color: #666; */
  /* font-weight: 600; */
  /* font-size: 1em !important; */
  font-weight: 600;
  /* letter-spacing: 1px; */
  font-size: 15px;
  width: 100px;
}

.add-puzzle-button:hover {
  background: #424242;
  color: white;
  border: #424242;
}

select > option {
  background: white;
  float: right;
  font-weight: 600;
  color:#818182;
  border:2px solid #818182;
}

.goal-how-challenge-select {
  text-align: left;
    float: right;
    border-radius: 15px;
    padding: 4px;
    text-align: center !important;
    font-size: 12px !important;
    background: white;
    max-width: 180px;
    min-width: 100px;
    border-width: 1px;
    /* border-color: #818182; */
    /* background: #FFA929; */
    font-weight: 600;
    /* color: white; */
}
/* .goal-how-challenge-select:hover{
  box-shadow: 2px 2px 7px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} */

.goal-how-challenge-select-option{
  float: right;
  border-radius: 15px;
  padding: 4px;
  /* text-align: center; */
  font-size: 12px !important;
  background: white !important;
  max-width: 100px;
  border-width: 1px;
  border-color: #818182;
  font-weight: 600;
  color:#818182;
}

.goal-how-challenge-select-option {
  float: right;
    border-radius: 15px;
    padding: 4px;
    /* text-align: center; */
    font-size: 12px !important;
    background: white !important;
    max-width: 100px;
    border-width: 1px;
    border-color: #818182;
    font-weight: 600;
    color:#818182;
}

.goal-object-select {
  text-align: left;
    float: right;
    border-radius: 15px;
    padding: 4px;
    text-align: center !important;
    font-size: 12px !important;
    /* border-color: white; */
    background: #FFA929;
    color: white;
    max-width: 200px;
    min-width: 100px;
    border-width: 1px;
    /* background: #FFA929; */
    font-weight: 600;
    border: none;
    font-weight: 600;
}

/* .goal-object-select:hover{
  box-shadow: 2px 2px 7px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} */

.how-object-select{
  text-align: left;
    float: right;
    border-radius: 15px;
    padding: 4px;
    text-align: center !important;
    font-size: 12px !important;
    /* border-color: white; */
    background: #16E584;
    color: white;
    max-width: 200px;
    min-width: 100px;
    border-width: 1px;
    /* border-color: #818182; */
    /* background: #FFA929; */
    font-weight: 600;
    /* color: white; */
    border: none;
    font-weight: 600;
}
/* .how-object-select:hover{
  box-shadow: 2px 2px 7px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} */


.how-object-select-option {
  float: right;
    border-radius: 15px;
    padding: 4px;
    /* text-align: center; */
    font-size: 12px !important;
    background: white !important;
    max-width: 100px;
    border-width: 1px;
    border-color: #818182;
    font-weight: 600;
    color:#818182;
}

.challenge-object-select{
  float: right;
    border-radius: 15px;
    padding: 4px;
    /* text-align: center; */
    font-size: 12px !important;
    color: white;
    background: #16E584;
    max-width: 100px;
    border-width: 1px;
    border:none;
  
    /* border-color: #818182; */
}

.challenge-object-select-option{
  float: right;
    border-radius: 15px;
    padding: 4px;
    /* text-align: center; */
    font-size: 12px !important;
    background: white !important;
    max-width: 100px;
    border-width: 1px;
    border:none;
}
.challenge-button{
  font-size: 12px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    margin-left: 4px;
    margin-top: 10px;
    padding: 4px 10px 4px 10px;
    background-color: #fff;
    border-color: #6b79f2;
    /* color: #666; */
    /* font-weight: 600; */
    /* font-size: 1em !important; */
    font-weight: 600;
    /* letter-spacing: 1px; */
    /* font-size: 18px; */
    /* background: #424242; */
    color: #6b79f2;
    /* border: #424242;
}

.challenge-button:hover{
  /* box-shadow: 2px 2px 7px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.18); */
  color: white;
  background: #6b79f2;
}
#progressive-builder {
  /* width: 350px;
    max-height: 600px;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 10px;
    margin-left: 10px;
    margin-top: 15px; */
}

#builder-card{
  width: 350px;
  /* max-height: 600px; */
  border-color: black;
  border-width: 1px;
  border-radius: 25px;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  padding: 10px;
  margin-left: 10px;
  margin-top: 15px;
  background: white;
}

.finish-block-button {
  /* border: #233641; */
  border-width: 1px;
  background: transparent;
}

.dropdown-content {
  border-radius: 5px;
  cursor: pointer;
  float: right;
  display: none;
  position: absolute;
  top: 40px;
  background-color: white;
  min-width: 110px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #EDEDED;
}

.show {
  display: block;
}

#topnav button {
  color: #fff;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.topnav-icon {
  cursor: pointer;
    position: absolute;
    top: 10px;
    width: 20px;
    height: 20px;
    /* margin-left: 70px !important; */
    float: right;
    margin-left: 130px !important;
}

.topnav-icon:hover {
  opacity: 0.5;
}
#setting-button {
  right: 60px;
}
#file-button{
    right:20px;
}
#run-button {
  right: 140px;
}
#import-button {
  right: 100px;
}

#topnav button:active,
#topnav button:hover {
  color: #155724;
}

#setting button:active,
#setting button:hover {
  color: #aaa;
}

#add-state-button:active,
#add-state-button:hover {
  background-color: #f9af48 !important;
  color: #fff;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
}

.window-title {
  text-align: center !important;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #666;
    padding-bottom: 5px;
    border-bottom: 2px solid #ededed;
    width: 100%;
}



#event-library .window-title {
  color: #ef5b34 !important;
}

#state-library .window-title {
  color: #ffc107 !important;
}

#reaction-library .window-title {
  color: #28a745 !important;
}
#event-box-title {
  min-width: 200px;
  margin-left: 5px;
  color: #ef5b34 !important;
}

#condition-box-title {
  min-width: 200px;
  margin-left: 5px;
  color: #ffc107 !important;
}

#reaction-box-title {
  min-width: 200px;
  margin-left: 5px;
  color: #28a745 !important;
}


.add-scene{
   margin-top: 30px;
   margin-left: 40px;
}
#add-interaction-button {
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  margin-left: 10px;
  padding: 3px 10px 3px 10px;
  background-color: #fff;
  border-color: #666;
  color: #666;
  font-weight: 600;
  font-size: 0.8em !important;
}
#add-interaction-button:hover {
  background-color: #666;
  color: #fff;
}
#add-scene-button {
  display: inline-block;
  cursor: pointer;
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  /* margin-left: 24px; */
  padding: 5px 10px 5px 10px;

  background-color: #fff;
  border-color: #666;
  color: #666;
  font-weight: 600;
  font-size: 0.8em !important;
}

#add-scene-button:hover {
  background-color: #666;
  color: #fff;
}
#add-interaction {
  position: absolute;
  margin: 30px;
  bottom: 0;
  right: 0;
  float: right;
}

/*
#interaction-float{
    position: absolute;

    top:0px;
    left: 0px;
    float: left;
    z-index: 1;
}
*/

#add-interaction:hover {
  opacity: 0.5;
  cursor: pointer;
}

#gallery-title h6:hover {
  color: #f9af48;
}

#object-list-title h6:hover {
  color: #f9af48;
}

#gallery-title:focus {
  outline: none !important;
}
#object-list-title:focus {
  outline: none !important;
}
#add-state-button:focus {
  outline: none;
}
#add-scene-button:focus {
  outline: none;
}
#add-interaction-button:focus {
  outline: none;
}
#close-icon-button:focus {
  outline: none;
}
#close-button:focus {
  outline: none;
}
#run-button:focus {
  outline: none;
}
#build-button:focus {
  outline: none;
}
#save-button:focus {
  outline: none;
}
#save-change-button:focus {
  outline: none;
}
#setting-button:focus {
  outline: none;
}
#design-button:focus {
  outline: none;
}
#code-button:focus {
  outline: none;
}

#brand {
  color: #ffc107;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-right: 25px;
}

#brand:link {
  outline: none;
  text-decoration: none;
  text-decoration-style: none;
}

#topnav {
  background-color: #28a745;
  display: block;
  /* height: 60px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; */
}

.nav-item {
  margin-top: 5px;
  font-size: 0.9em;
}
.nav-item a {
  color: #343a40;

  margin-right: 10px;
}

.nav-item a:hover {
  color: #343a40;
  opacity: 0.6;

  margin-right: 10px;
  text-decoration: none;
}

.nav-item a.selected {
  /* font-weight: 700; */
  color: #343a40;
  text-decoration: underline;
}
#first-column-second-row {
  /*
    background-color: #FFF;
    position: absolute;
    top:500px;
    left: 0;
    width: 480px;
    */
}

#gallery {
  /*
    background-color: #FFF;
    position: absolute;
    top:0;
   
    left: 0;
    width: 300px;
    */
}

#wrap-first-column-second-row {
  position: relative;
  /* height: 450px;
   bottom: 0;*/
  top: 0;
}

#object-list {
  /* padding-left: 30px;
  padding-right: 30px; */
}
.start-star {
  width: 20px;
  height: 20px;

  opacity: 0.5;
}
.object-selected {
  background-color: #fff;
  opacity: 0.7;
  border-color: #aaa;
  border: solid;
  border-width: thin;
  border-style: dotted;
}

#object-list button {
  cursor: pointer;
    font-weight: 400;
    margin-bottom: 2px;
    color: #383838;
}
#object-list button:focus {
  outline: none;
}

/*

#gallery-title{
    display: inline-block;

}
#object-list-title{
    display: inline-block;
}

#gallery ul{
   

    padding: 0;
}


#gallery li{
   list-style: none;
   

}
*/

#tabList {
  /*
     display: inline-block;
     position: absolute;
     top:40px;
     left:10px;
     */
     height: 200px;
     width: 200px;
     padding-top: 10px;
     list-style: none;
}

#gallery-modal-left {
  width: 20%;
}

#tabList-modal {
  padding-top: 10px;
  list-style: none;
}

ul{
  margin-top: 0;
    margin-left: 0 !important;
    list-style: none;
    margin-bottom: 1rem;
}
/*
#tabContent{
    position: absolute;
    top:30px;
    left: 90px;
    right: 0px;
    display: inline-block;

}
*/

.assets {
  border-radius: 5px;
  margin-top: 20px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden; 
}



.assets ul {
  margin-right: 20px;
  list-style: none;
  height: 240px;
  /* max-height: 600px; */
}

.assets li {
  display: inline-block;
  text-align: center;
  width: 85px;
  height: 85px;
  margin: 0;
  padding: 0;
}
.assets p {
  margin: 0;
  font-size: 0.7em;
}
.assets img {
  margin: 10px;
  max-width: 60px;
  max-height: 60px;
}

.asset {
  cursor: pointer;
  margin: 7px; /* 5px */
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 80px;
  height: 80px;
}

.asset-add {
  cursor: pointer;
  margin: 7px; /* 5px */
  border-radius: 5px;

  width: 80px;
  height: 80px;
}

.tutorial-assets {
  border-radius: 5px;
  background-color: #eee;
  margin: 10px;
  height: 420px;
  /* 
    width: 560px;
*/

  overflow-y: auto;
}
#import-nav {
  margin-top: 50px;
}
.tutorial-assets ul {
  margin: 0;
}

.tutorial-assets li {
  display: inline-block;
  text-align: center;
  width: 85px;
  height: 85px;
  margin: 0;
  padding: 0;
}
.tutorial-assets p {
  margin: 0;
  font-size: 0.7em;
}
.tutorial-assets img {
  margin: 10px;
  max-width: 60px;
  max-height: 60px;
}

#key-tab.active {
  color: #ffffff;
  background-color: #28a745;

  margin-left: 10px;
  margin-right: 10px;
}

#container-tab.active {
  color: #ffffff;
  background-color: #28a745;

  margin-left: 10px;
  margin-right: 10px;
}

#actor-tab.active {
  color: #ffffff;
  background-color: #28a745;
  /* width:50%;*/
  margin-left: 10px;
  margin-right: 10px;
}

#code-library {
  background-color: #fff;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  width: 220px;
}
#first-column {
  /*
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width:720px;
    overflow: hidden;
    */
}
#second-column {
  /*
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 486px; ;
    right: 256px;
    overflow: hidden;
    */
}
#third-column {
  background-color: #eee;
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 0;
  width: 250px;
  /* overflow: auto; */
}
#design-editor {
  /*
    position: absolute;
    
    width: 480px; 
    height: 500px;
    left: 0;
    top:0;
    right: 0;
    overflow: auto;
    
    */
}

#interaction-editor {
  position: relative;
  height: 100%;
  /* background-color: #eee; */
  overflow: hidden;
}

#interaction-box-edit {
  opacity: 0.7;
  cursor: pointer;
  width: 12px;
  height: 14px;
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

#interaction-box-close {
  opacity: 0.8;
  cursor: pointer;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: 7px;
  margin-right: 7px;
}
#interaction-box-minimize:hover {
  opacity: 0.5;
}
#interaction-box-minimize {
  opacity: 0.8;
  cursor: pointer;
  width: 15px;
  height: 15px;
  float: right;
  margin-top: 7px;
  margin-right: 7px;
}

#interaction-box-close:hover {
  opacity: 0.5;
}

.interaction-box {
  position: absolute;
  border-radius: 15px;
  border-width: thin;
  /* border-style: solid; */
  border-color: #ccc;
  background-color: #fff;
  /* padding-left: 10px; */
  width:200px;
}

.interaction-box span {
  width: 100%;
}

.event-box {
  padding: 10px;
  border-radius: 5px;
  list-style: none;
  /* background-color: #EDEDED; */
  /* margin-left: 10px; */
  margin-top: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 30px;
  width: 200px;
  padding-bottom: 5px;
  
    border-top: 2px solid #ededed;
}
.condition-box {
  padding: 10px;
  border-radius: 5px;
  list-style: none;
  /* background-color: #EDEDED; */
  /* margin-left: 10px; */
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 30px;
  width: 200px;
  border-top: 2px solid #ededed;
}
.reaction-box {
  padding: 10px;
  border-radius: 5px;
  list-style: none;
  /* background-color: #EDEDED; */
  /* margin-left: 10px; */
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-height: 30px;
  width: 200px;
  border-top: 2px solid #ededed;
}

/*
#interaction-library{
     position: absolute;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: auto;
}
*/

.my_badge {
  /* padding: 0.25em 0.4em; */
  /* font-size: 75%; */
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.5rem;
}

.badge-event {
  /* min-width: 200px; */
  text-align: left !important;
  /* background-color: #ef5b34; */
  color: #FFA929;
  font-size: 1em !important;
}
.badge-state {
  cursor: pointer;
  min-width: 200px;
  text-align: left !important;
  /* background-color: #f9af48; */
  color: #16E584;
  font-size: 1em !important;
}

.badge-reaction {
  cursor: pointer;
  min-width: 200px;
  text-align: left !important;
  /* background-color: #28a745; */
  color: #16E584;
  font-size: 1em !important;
}

#state-library h6 {
  display: inline-block;
}
#add-state {
  display: inline-block;
  right: 5px;
  bottom: 0;
}
#add-state-button {
  border-style: solid;
  border-width: thin;
  margin: 5px;

  background-color: #fff;
  border-color: #f9af48;
  color: #f9af48;
  font-size: 0.8em !important;
}
#state-list {
  border-radius: 5px;
  background: #eee;
  list-style: none;
  margin: 10px;
  padding: 10px;
  max-height: 150px;
  overflow: auto;
}
#state-list li {
  padding-bottom: 5px;
}
#event-list {
  background: #eee;
  border-radius: 5px;
  list-style: none;
  margin: 10px;
  padding: 10px;
  max-height: 300px;
  overflow: auto;
}

#event-list li {
  padding-bottom: 5px;
}

#reaction-list {
  border-radius: 5px;
  background: #eee;
  list-style: none;
  margin: 10px;
  padding: 10px;
  max-height: 600px;
  overflow: auto;
}
#reaction-list li {
  padding-bottom: 5px;
}

/*
#design-object-list{
    position: absolute;
    top: 0;
    bottom: 356px; 
    left: 0;
    right: 0;
    background-color: #fff;
   
}
*/

.object-tree {
  /* background-color: #cad1d6; */
  position: relative;
  overflow: auto;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
  /* height: 600px; */
}

.object-tree ol {
  padding-left: 30px;
}

.object-tree li {
  list-style: none;
  font-size: 0.9em;
  margin: 0; /* all list item li dots invisible */
}

.tutorial-object-tree {
  background-color: #eee;
  position: relative;
  overflow: auto;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
  height: 600px;
}

.tutorial-object-tree ol {
  padding-left: 30px;
}

.tutorial-object-tree li {
  list-style: none;
  font-size: 0.9em;
  margin: 0; /* all list item li dots invisible */
}
#design-property {
  /*
    position: absolute;
    width: 480px;
    bottom:0;
    top:410px;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    */
}

#img-lock {
  width: 25px;
  height: 25px;
  opacity: 0.5;
  cursor: pointer;
}
#object-delete {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  cursor: pointer;
  
}

#object-delete:hover {
  opacity: 0.3;
}
.property-img {
  /*max-width: 70px;
    max-height: 70px;*/
  min-width: 10px;
  min-height: 10px;

  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.property-img-bg {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  top: 0;
  border-radius: 5px;
  height: 90px;
  background-color: #ccc;
}

.property-info ul {
  /*background-color: #eee;
    position: relative;
    border-radius: 5px;
    margin-left:10px;
    margin-right: 10px;
    width: 490px;
    */
  /* padding-top:10px; */
  padding-left: 10px;
}

.property-info li {
  font-size: 12px;
    list-style: none;
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
    padding-right: 7px;
    padding-left: 20px;
    padding-top: 15px;
}

.property-input {
  height: 15px;
}

.narrative-input input {
  width: 70px;
    height: 25px;
    border-style: none;
    /* background-color: #eee; */
    border-radius: 5px;
    border: 1px solid grey;
    padding: 8px;
    margin: 5px;
}

.description-input input {
  width: 200px !important;
  height: 50px !important;
  
  border-radius: 5px;
  padding-left: 4px;
}

.property-text{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  width: 50px;
}
.size-property-input{
  width: 130px;
    float: left;
}
.property-info input {
  width: 70px;
    height: 25px;
    /* border-style: none; */
    /* background-color: #eee; */
    border: 1px solid #868686;
    margin-bottom: 5px;
    font-size: 12px;
    border-radius: 5px;
    padding: 6px;
}

.property-info input:focus {
  outline: none;
}

#code-property {
  position: absolute;
  height: 350px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: #fff;
}

#gallery-list-resizer {
  background-color: #eee;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px; /* 460 */
  width: 6px;
  cursor: e-resize;
}
#first-second-resizer {
  background-color: #eee;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 480px; /* 720 */
  width: 6px;
  cursor: e-resize;
}
#second-third-resizer {
  background-color: #eee;
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 250px;
  width: 6px;
  cursor: e-resize;
}

#design-editor-resizer {
  position: absolute;
  height: 6px;
  width: 480px;
  /* bottom: 450px;*/
  top: 500px;
  left: 0;
  right: 0;
  background-color: #eee;
  cursor: n-resize;
}

#design-property-resizer {
  position: absolute;
  height: 6px;
  bottom: 380px;
  left: 0;
  right: 0;
  background-color: #eee;
  cursor: n-resize;
}

#gallery-list-resizer:hover,
#gallery-resizer:hover,
#code-library-resizer:hover,
#design-side-resizer:hover,
#code-side-resizer:hover,
#design-editor-resizer:hover,
#code-editor-resizer:hover,
#design-property-resizer:hover,
#code-property-resizer:hover {
  background-color: #aaa;
}

@media only screen and (min-width: 1500px) and (min-height: 1200px) {
  .assets {
    height: 720px;
  }

  .object-tree {
    height: 720px;
  }
}

@media only screen and (max-height: 1000px) {
  .assets {
    height: 300px;
  }

  .object-tree {
    height: 300px;
  }
}

@media only screen and (min-width: 1500px) and (min-height: 1200px) {
  .tutorial-assets {
    height: 380px !important;
    width: 600px;
  }

  .tutorial-object-tree {
    height: 420px;
    width: 92%;
  }
}

@media only screen and (max-height: 1000px) {
  .tutorial-assets {
    height: 380px;
    width: 600px;
  }

  .tutorial-object-tree {
    width: 92%;
    height: 420px;
  }
}

.password-input {
  color: grey;
    float: right;
    border-radius: 5px;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    /* padding: 2px; */
    overflow: auto;
    font-size: 12px;
}
.reset-puzzle-button {
  margin-bottom: -30px;
}

.tab-container{
  width: 50%;
  margin: 0 auto;
}

.tab-container > ul >li{
  display: inline;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  text-decoration: none;
  color: #333;
  margin-right: 30px;
}
.tab1{
  border-bottom: 1.5px solid transparent;
}

.tab2{
  border-bottom: 1.5px solid transparent;
}


.tab1:hover {
  border-bottom: 1.5px solid #6977ee;
  /* margin-left: 0%; */
}

.tab2:hover {
  border-bottom: 1.5px solid #6977ee;
  /* margin-left: 25%; */
}

.play-icon{
  cursor: pointer;
  margin-top: 20px;
  margin-right: 100px;
  width: 20px;
  /* margin-left: 70px !important; */
  float: right;
}

.menu-icon{
  cursor: pointer;
  margin-top: 20px;
  margin-right: 100px;
  width: 20px;
  height: 20px;
  /* margin-left: 70px !important; */
  float: left;
}

.card-title{
  margin-top: 10px;
  margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #666;
    padding-bottom: 5px;
    /* margin-left: 10px; */
    border-bottom: 2px solid #ededed;
    width: 100%;
}

::-webkit-scrollbar-button{ display: block; height: 100%; border-radius: 0px; } 
::-webkit-scrollbar-button:hover{ background-color: rgb(233, 233, 233); } 
::-webkit-scrollbar-thumb{ background-color: #CCC; } 
::-webkit-scrollbar-thumb:hover{ background-color: #CCC; } 
::-webkit-scrollbar-track{ background-color: #efefef; } 
::-webkit-scrollbar-track:hover{ background-color: rgb(245, 245, 245); } 
::-webkit-scrollbar{ width: 6px; }


.big-add-button{
  position: fixed;
  right: 60px;
  bottom: 60px;

  /* background-color: yellowgreen; */
  color: white;
  text-align: center;
}

.big-add-button-icon{
  width: 80px;
  height: 80px;
}

.big-add-button-icon:hover{
  opacity: 0.7;
}