body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}
#welcome-view {
  display: block;
  margin-top: 30px;
}

#welcome-view > img {
  display: block;
  /* width: 40%; */
  padding-bottom: 0.5%;
  margin: auto;
}

.sys-button {
  display: block;
  margin: 100px;
  padding: 20px;
  color: #fff;
  font-weight: 480;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.sys-button:focus {
  outline: none;
}

.sys-button:hover {
  opacity: 0.5;
}
.welcome-button{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  /* vertical-align: baseline; */
  border-radius: 5px;
  cursor: pointer;
  width: 160px;
  height: 40px;
  font-size: 15px;
  /* min-width: 200px; */
  /* text-align: left !important; */
  /* background-color: #ef5379; */
  color: #524c4c;
  margin: 50px;
  padding:5px;
  border: 2px solid #bebebe;
  /* width: 100px; */
}

.button-area{
  width: 100% !important;
  height: 60px;
  text-align: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
}